<%- include('./_header'); -%>

<form id="selection" action="/recommend" method="POST">
    <% data.forEach(function(d) { %>
        <div class="checkbox">
            <label><input name="music" type="checkbox" value="<%=d.name%>">+ <%= d.name %> + <br></label>
        </div>
        <!---<a href="<%= d.href %>"> + <%= d.name %> + </a><br> --->
    <% }) %>
    <input type="submit">
</form>